<%- include header %>

<body style="margin-top: 50px">
<div class="bg">
	<div class="center node">
		<h1>Node<span class="ion-social-nodejs"></span>后台电费查询</h1>
	</div>
	<div id="app" class="center">
		<form class="form-inline" method="post">
			<div class="form-group">
				<input  placeholder="请输入寝室号查询：" v-model="search" class="form-control" id="search" type="text" name="search">
			</div>
			<button type="submit" class="btn btn-default">GO</button>
		</form>
		<div class="center">
		<p v-show="show">你要查询的是：{{res}}</p>
	    </div>
	</div>
	<div class="center animated fadeIn" id="bg">
		<table class="table table-hover table-bordered">
			<tbody>
				<tr>
					<td><span class="ion-flash"></span><span class="ion-flash"></span><span class="ion-flash"></span><span class="ion-flash"></span><span class="ion-flash"></span></td>
					<td>账户余额</td>
					<td>总用电量</td>
					<td>照明通道</td>
					<td>空调通道</td>
					<td>照明情况</td>
					<td>空调情况</td>
					<td>当前功率</td>
				</tr>
				<tr>
					<td><%=room%></td>
					<td><%=yue %></td>
					<td><%=zong %></td>
					<td><%=light %></td>
					<td><%=kongtiao %></td>
					<td><%=light_on %></td>
					<td><%=kongtiao_on %></td>
					<td><%=www %>瓦</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>	

</body>	

<%- include footer %>
	